body {
background-color: #1E222A;
}

h1 {
color:#E06C75;

}



.form-control {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #cdcdcd;
    background-color: #1e222a;
    background-clip: padding-box;
    border: 2px solid #4cafef;
}



.usersList {
margin-top:30px;
font-weight: 500;

}

a {
  color: #61AFEF;
 text-decoration: none !important;
}

.addUser {
color: #61AFEF;
text-decoration: none !important;

}

.myApp {
margin-top: 30px;
}