<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />




    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}" />


</head>
<body class="">



<div class="row">
    <div class="col">
    </div>
    <div class="col-6">

        <h1 class="usersList">Details</h1>
        <h4 class="addUser"> <a th:href="@{/users}" >back</a></h4>
        <p class="text-light">Der ausgewählte User hat folgende Telefonnummern:</p>


        <h4 class="addUser">Nummern:</h4>

        <th:block th:each="number: ${numbers}">
            <p class="text-light">[[${number}]]</p>
        </th:block>

        <h4 class="addUser">Anbieter:</h4>
        <td>
            <p class="text-light">[[${anbieter}]]</p>
        </td>


    </div>
    <div class="col">

    </div>
</div>









</body>
</html>